@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<section class="introduction service-detail-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto">
                <div class="info-panel text-center">
                    <h1 class="text-primary">@Model.Value("heading")</h1>
                    @Model.Value("description")
                    <img src="@Model.Value("mainImage")" alt="@Model.Value("heading")">
                </div>
            </div>
        </div>
    </div>
</section>